torch==2.7.1
torchvision==0.22.1
decord==0.6
diffusers==0.33.1
Pillow==9.2
einops==0.8.0
scipy==1.14.0
numpy==1.26.4
opencv-python==4.10.0.84
gradio_client==0.7.0
huggingface_hub==0.32.4
omegaconf
einops
accelerate==0.30.1
gradio==3.40.0
moviepy==1.0.3
hydra-core
pytest
